* {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

:root{
   --azul: #406DDB;
   --branco: #FCFFFD;
   --verde: #64B6AC;
   --verde-claro: #C0FDFB;
}

header{

}

.contato_dono_rifa img, .container_contatos img{
   width: 25px; height: 25px;
}

.cadastro{
   display: flex;
   flex-direction:column;
   margin: ;
   padding: 15px;
   width: 60%;
   
}

.input_de_texto small{
   display: block;
}

